# dal配置信息
[dal]
listen_host = "0.0.0.0"
listen_port = 13306
username = "root" # dal 对外提供的用户名
password = "123456" # dal 对外提供的密码
database = "test" # dal对外提供的数据库
shard_table_instance_num = 8 # 存放分表信息的资源个数, 思想来源于MySQL 多instance
cluster_instance_num = 8 # cluster相关资源个数, 思想来源于MySQL 多instance

# 直接指定后端需要链接的数据库
[[backend]]
username = "root"
password = "root"
host = "127.0.0.1"
port = 3306
database = "employees"
charset = "utf8mb4"
auto_commit = true # true/false
role = 1 # 角色 1.master, 2.slave
is_candidate = true # 是否是候选master true/false
read_weight = 1 # 读权重

# 直接指定后端需要链接的数据库
[[backend]]
username = "root"
password = "root"
host = "127.0.0.1"
port = 3306
database = "employees"
charset = "utf8mb4"
auto_commit = true # true/false
role = 2 # 角色 1.master, 2.slave
is_candidate = true # 是否是候选master true/false
read_weight = 1 # 读权重

# 后端链接的数据库信息从mysql里面获取, 如果有指定 [mysql_target] 则以 [mysql_target] 为准
[mysql_meta]
username = "root"
password = "root"
host = "127.0.0.1"
port = 3306
database = "dal"
timeout = 10
charset="utf8mb4"
max_open_conns=1
max_idel_conns=1

[log]
# path="/data0/dal/logs"    # 日志路径, 没有填写打印到控制台
level="debug"
file_size=1073741824    # 每个日志文件的大小
file_keep_size=10    # 历史日志文件保存个数
